<!-- CUERPO DEL EJERCICIO -->
<main>

  <div class="" style="width: 24rem; text-align:center; margin:auto; min-height:425px;">
 {{!--  <ul class="errors_list">
  {{#each errors}}
    <li>{{msg}}</li>
  {{/each}}
</ul> --}}
  </div>


</main>