<!-- CUERPO DEL EJERCICIO -->
<main>

  <div class="" style="width: 24rem; text-align:center; margin:auto; min-height:425px;">

    <h1>Lo sentimos, día {{fechaOcupada}} está reservado. Por favor elige otra fecha!</h1>
    <a href="/">Volver a la reserva de citas</a>
  </div>


</main>