<!-- CUERPO DEL PROYECTO -->
<main>

  <div class="alert alert-danger" role="alert" style="width: 50rem; text-align:center; margin:auto; min-height:200px;">

    <h1>Lo sentimos, ya tenemos una reserva en día {{date_cita}}  a la hora {{hour_cita}}.
        Por favor elige otra fecha y/o intervalo horario!</h1>
    <a href="/" class="alert-link" ><i class="fas fa-backward"></i> Volver a la reserva de citas</a>
  </div>


</main>

