<!-- CUERPO DEL EJERCICIO -->
<main>

  <div class="" style="width: 24rem; text-align:center; margin:auto; min-height:425px;">

    <h1>Lo sentimos, ya tenemos una reserva en día {{date_cita}}  a la hora {{hour_cita}}.
        Por favor elige otra fecha y/o intervalo horario!</h1>
    <a href="/">Volver a la reserva de citas</a>
  </div>


</main>